cleanup = true
singularity.enabled = true
nextflow.enable.moduleBinaries = true

includeConfig "conf/process.config"

profiles {
    docker {
        docker.enabled         = true
        singularity.enabled    = false
    }
    singularity {
        docker.enabled         = false
        singularity.enabled    = true
        singularity.autoMounts = true
    }
}


params {

    //basic_settings
    help           = false
    testrun        = false

    //user input
    bam            = ""   // multiplexed BAM file, containing merged reads
    by             = ""   // readgroup index information
    split          = ""   // alternative input: folder with already splitted files (BAM, FASTQ)
    genomes        = ""   // folder with reference genomes fasta-files
    db             = ""   // kraken1 db for krakenuniq
    bedfiles       = ""   // bedfiles (dust-masking) for the genomes in --genomes
    fixed          = ""   // Specify the reference genome for assigned families
    rerun          = false

    //optional input
    taxlvl         = 'f'  // extract reads on the given taxonomic level
    //

    //process settings
    bamfilterflag             = 1    // 1=filter paired, 4=filter unmapped
    bamfilter_length_cutoff   = 35   // filter out reads shorter < 35bp
    bamfilter_quality_cutoff  = 25   // filter out reads with qualityscore < 25
    krakenuniq_min_kmers      = 129  // filter out families with < 129 kmers assined
    krakenuniq_min_reads      = 3    // filter out families with < 3 reads assigned
    compression_level         = 0    // bgzf compression level for intermediate files, 0..9

}