manifest {
    homePage = 'https://vcs.eva.mpg.de/visagie/sediment_nf'
    description = 'Sediment pipeline'
    nextflowVersion = '>=19.04.1'
}

trace {
    enabled = true
    file = 'reports/trace.tsv'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

report {
    enabled = true
    file = 'reports/report.html'
}

executor {
    name = 'sge'
    queueSize = 250
    pollInterval = '30 sec'
}

profiles {

    standard {
        process {
            executor = 'local'
            errorStrategy = 'retry'
            maxRetries = 5
        }
    }

    cluster {
        process {
            withLabel: '!local' {
                executor = 'sge'
                penv = 'smp'
                queue = 'all.q'
                errorStrategy = 'retry'
                maxRetries = 5
                clusterOptions = '-m n'
            }
            withLabel: local {
                executor = 'local'
                errorStrategy = 'retry'
                maxRetries = 3
            }
        }
    }

}
