.document{
    width: 1400px !important;
}
.body{
    max-width: 1400px !important;
}
.description{
    margin-top: 0px;
}
.file{
    margin-bottom: 0px;
    color: #252424;
    font-family: monospace;
}