process {
    //
    // Workflow: Splitbam
    //
    if(params.bam){
        withName: "splitbam:SPLITBAM" {
            publishDir = [path:"split", mode:"copy", pattern:"*.{bam,txt}" ]
        }
    }
    //
    // Workflow: Bamfilter
    //
    withName: "bamfilter.*SAMTOOLS_FILTER" {
        ext.args = "-F ${params.bamfilterflag}"
    }
    withName: "bamfilter.*BAM_LENGTHFILTER" {
        ext.args = "-c ${params.bamfilter_length_cutoff} -l ${params.compression_level}"
    }
    //
    // Workflow: Krakenrun
    //
    withName: "krakenrun:RUN_KRAKENUNIQ" {
        publishDir = [path: "stats", mode: "copy", pattern:"*.{translate,report}"]
    }
    withName: "krakenrun.*PARSE_KRAKEN_REPORT"{
        ext.args = "${params.krakenuniq_min_kmers} ${params.krakenuniq_min_reads}"
    }
    withname: "krakenrun.*EXTRACT_TAXON" {
        ext.args = "-l ${params.compression_level}"
    }
    //
    // Workflow: Bamextract
    //
    withName: "bamextract.*SAMTOOLS_SORT" {
        publishDir = [
            path: 'out',
            mode: 'copy',
            saveAs: {extracted_out},
            pattern: 'sorted_*.bam',
        ]
        ext.args = "-n -l ${params.compression_level}"
    }
    //
    // Workflow: mapbwa
    //
    withName: "mapbam.*SAMTOOLS_FILTER" {
        ext.args = "-q ${params.mapbwa_quality_cutoff}"
    }
}

