process {
    withName: "bamfilter.*SAMTOOLS_FILTER" {
        ext.args = "-F ${params.bamfilterflag}"
    }

    withName: "bamextract.*SAMTOOLS_SORT" {
        publishDir = [
            path: 'out',
            mode: 'copy',
            saveAs: {extracted_out},
            pattern: 'sorted_*.bam',
        ]
    }

    withName: "mapbam.*SAMTOOLS_FILTER" {
        ext.args = "-q ${params.bamfilter_quality_cutoff}"
    }
}