if (params.bam) {
    process {
        withName: "splitbam:SPLITBAM" {
            publishDir = [path:"split", mode:"copy", pattern:"*.{bam,txt}" ]
        }
    }
}

process {
    withName: "RUN_KRAKENUNIQ" {
        publishDir = [path: "stats", mode: "copy", pattern:"*.{translate,report}"]
    }
}

process {
    withName: "RUN_KRAKENUNIQ_BATCH" {
        publishDir = [path: "stats", mode: "copy", pattern:"*.{translate,report}"]
    }
}